/* Element selector */
p {
    font-size: 18px;
    color: #444;
}

/* Class selector */
.favs {
    color: darkgreen;
}

.favs li {
    margin: 8px 0;
}

/* ID selector */
#character-name {
    color: darkblue;
    font-size: 42px;
}